
<html>
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<!-- Latest compiled and minified JavaScript -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <style type="text/css">

	.extra-bottom-padding
	{
	   position:relative;
	   margin-top: 20px;
	   margin-bottom: 30px;

	}

	.plist
	{
	   position:relative;
	   margin-top: 20px;
	   margin-bottom: 50px;

	}

	.productreporttable
	{
	position:relative;
	overflow:auto;
	max-height:400px;
	max-width:800px:
	}
	#saletreporttable
	{
	position:relative;
	overflow:auto;
	max-height:400px;
	max-width:800px:
	}





.panel-body {
    padding: 15px;
    height: 200px;
    overflow: auto;
}




/*** Table Styles **/




</style>
<title>My app</title>
</head>
<div class="container">
    <nav  class="navbar navbar-success">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">File Comapre</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li><a href="{% url "comp_file" %}">File</a></li>


                <li><a href="#">Text</a></li>

            </ul>
        </div>
    </nav>


    <h1>{% block title %} 
	
	{% endblock %}</h1>


    {% block content %}
	
	{% endblock %}
</div>
<script type="text/javascript">

window.onload = function() {
        $("#Pay").on('click',function(){
            document.getElementById("payform").style.display = "block";
            document.getElementById("recieveform").style.display = "none";
            ;
            
            //document.getElementById("editproduct").style.display="none";
            
        });
 console.log('hi')


         $("#Recieve").on('click',function(){
            document.getElementById("payform").style.display = "none";
            document.getElementById("recieveform").style.display = "block";

            
            //document.getElementById("editproduct").style.display="none";
            
        });
    }

</script>
</html>